<!DOCTYPE html>
{% with channel=page|lookup:"channel"|first|default:page %}
<html>
<head>
  <title>{{ channel.title }}</title>
  <link rel="alternate" type="{{ mime }}" href="{{ channel.link|default:url }}" />
  <style>
    @import url("odysseus:butterick.css");

    a[href^="mailto:"]:before {content: url(icon:16/tag);}
    a[href^="?tag="]:before {content: url(icon:16/mail-send);}
    iframe {
      width: 100%;
      height: 200px;
      resize: vertical;
    }
  </style>
  {% if channel.icon %}<link rel="shortcut icon" href="{{ channel.icon }}" />{% endif %}
</head>
<body>
  {% macro entry : post level %}{% if Q.tag in post|lookup:"category"
      and Q.author in post|lookup:"(author|contributor)/(child::text()|name)" %}
    <h{{ level }}><a href="{{ post.link }}">{{ post.title }}</a></h{{ level }}>
    {% if post.subtitle %}
      <h{{ level|add:1 }}>{{ post.subtitle }}</h{{ level|add:1 }}>
    {% endif %}

    <aside style="float:right">
      {{ post.pubDate|default:post.published }}
      {% if post.updated %};
        {% trans %}Updated{% endtrans %} {{ post.updated }}
      {% endif %}
    </aside>
    <aside style="float:left">
      {{ post|lookup:"author/(child::text()|name)"|default:post.author }}
      {% if post.contributor %}; {% trans %}Contributors{% endtrans %}
        {{ post|lookup:"contributor/name" }}
      {% endif %}
    </aside>

    {% with text=post.description|default:post.content|text|default:post.summary %}
      <iframe sandbox src="data:text/html,{% autoescape url %}{{
              '<base>'|cat:url|cat:'</base>'
          }}{{ text }}{% autoescape end %}">
        {{ text }}
      </iframe>
    {% endwith %}
    <nav>
      {% for file in post|lookup:"attachment|content[@src]" %}
        <a href="{{ file.url|default:file.src|base:url }}">
          <img src="icon:32/{{ file.type|escape:'mimeicon' }}" {# TODO define mimeicon filter #}
                alt="{{ file.type }}
                    {% filter escape:'html' %}{% mimeinfo file.type %}{% endfilter %}" />
        </a>
      {% endfor %}
      {% for tag in post|lookup:"category" %}
        <a href="?tag={{ tag|escape:'url' }}">{{ tag }}</a>
      {% endfor %}
    </nav>
  {% endif %}{% endmacro %}
  {% macro filterbar : tags authors %}{% if tags|length > 1 or authors|length > 1 %}
    <aside><form>
      {% if authors|length > 1 %}
        <h3>{% trans %}Authors{% endtrans %}</h3>
        <ul>{% for author in authors %}
          <li><input type="checkbox" name="author" value="{{ author }}"
              checked="{{ author in Q.author }}" id="author-{{ author|slugify }}" />
            <label for="author-{{ author|slugify }}">{{ author|title }}</label></li>
        {% endfor %}</ul>
      {% endif %}
      {% if tags|length > 1 %}
        <h3>{% trans %}Tags{% endtrans %}</h3>
        <ul>{% for tag in tags %}
          <li><input type="checkbox" name="tag" value="{{ tag }}"
              checked="{{ tag in !.tag }}" id="tag-{{ tag|slugify }}" />
            <label for="tag-{{ tag|slugify }}">{{ tag|title }}</label></li>
        {% endfor %}</ul>
      {% endif %}
    </form></aside>
  {% endif %}{% endmacro %}

  {% if channel.image and channel.image.url %}{% with img=channel.image %}
    {% if img.link %}<a href="{{ img.link }}">{% endif %}
    <img src="{{ img.url }}" alt="{{ img.title }}" title="{{ img.title }}" />
    {% if img.link %}</a>{% endif %}
  {% elif channel.logo %}
    <img src="{{ channel.logo }}" />
  {% endif %}

  {% entry post=channel level=1 %}
  {% filterbar tags=channel|lookup:"(item|entry)/category"|uniqsort
      authors=channel|lookup:"
          (item|entry)/(author|contributor)/(child::text()|name)
      "|uniqsort %}
  <main>{% for post in channel|lookup:"item|entry" %}
    <section>{% entry level=3 %}</section>
  {% endfor %}
  {% macro q : k v %}{% for i in l %}&{{k}}={{i}}{% endfor %}{% endmacro %}
  {% if Q.author or Q.tag %}
    <nav><a id="js-loadmore"
        href="odysseus:view?url={{ url }}{% q k='author' v=Q.author %}{% q k='tag' v=Q.tag %}">
      {% trans %}Load more…{% endtrans %}
    </a></nav>
  {% endif %}</main>

  <footer>
    <nav>
      {% if channel.complete %}
        <em title="{% trans %}No more entries{% endtrans %}">
          {% trans %}{# Shorthand for "no more entries" #}Fin.{% endtrans %}
        </em>
      {% else %}
        {% macro page-link : link title label %}
          {% if link %}<a href="{{ link.href }}" title="{{ title }}">label</a>{% endif %}
        {% endmacro %}
        {% macro date-of : post %}{{ post.pubDate|default:post.published }}{% endmacro %}
        {% page-link link=channel|lookup:'link[@rel="first"]'
            title="First page"|trans label="↞" %}
        {% page-link link=channel|lookup:'link[@rel="previous"|@rel="prev-archive"]'|first
            title="Previous page"|trans label="↩" %}
        <em>{% date-of channel|lookup:"item|entry"|first %}
          &emdash;
          {% date-of channel|lookup:"item|entry"|last %}</em>
        {% page-link link=channel|lookup:'link[@rel="next"|@rel="next-archive"]'|first
            title="Next page"|trans label="↪" %}
        {% page-link link=channel|lookup:'link[@rel="last"]'
            title="Last page"|trans label="↠" %}
      {% endif %}
    </nav>
    <p>
      {{ channel.copyright|default:channel.rights }}
      {% if channel.managingEditor %}
        <a href="mailto:{{ channel.managingEditor }}">{% trans %}Editor{% endtrans %}</a>
      {% endif %}
      {% if channel.webMaster %}
        <a href="mailto:{{ channel.webMaster }}">{% trans %}Web Master{% endtrans %}</a>
      {% endif %}
      {% for author in channel|lookup:"child::author[uri|email]" %}
        <a href="{% if author.uri %}{{ author.uri }}{% else %}mailto:{{ author.email }}{% endif %}">
          {{ author.name }}
        </a>
      {% endfor %}
    </p>
  </footer>

  <script>
    // When load more is clicked, query the next pages inline
    //    until more results are found.
    var a = document.querySelector('#js-loadmore')
    a.click = () => {
      var req = new XMLHttpRequest()
      req.open("GET", a.href);
      req.onload = () => {
        var foundResults = false
        for (var post of req.responseXML.querySelectorAll('main > section')) {
          a.insertAdjacentElement('beforebegin', post)
          foundResults = true
        }
        a.href = req.responseXML.querySelector('#js-loadmore').href

        if (!foundResults) a.click()
      }
    }
  </script>
</body>
</html>
