Source: io.github.alcinnz.odysseus
Section: x11
Priority: extra
Maintainer: Adrian Cochrane <alcinnz@lavabit.com>
Build-Depends: meson,
               debhelper (>= 9),
               libgtk-3-dev,
               libgranite-dev (>= 0.3.0),
               valac (>= 0.26)
Standards-Version: 3.9.3

Package: io.github.alcinnz.odysseus
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: The Web Browser designed specifically for elementary OS!
 Designed in accordance to the elementary HIG Odysseus boasts unique desktop
 integrations, chrome that's instantly familiar to users of elementary's
 Scratch and Files applications, recommend links on first start, and fast
 restoration of your previous browsing sessions with delayed loading of pages.
