[Desktop Entry]
Type=Application
Name=Odysseus
_Comment=Browse knowledge, entertainment, and services on The Web
Exec=io.github.alcinnz.odysseus %U
Icon=odysseus-web
Terminal=false
Categories=Network;WebBrowser;GTK;GNOME;
# TRANSLATORS This is a semicolon list of keywords for this application
_Keywords=WWW;Web;Internet;Browser;
StartupNotify=true
Actions=NewWindow;NewTab;AboutDialog;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;application/xhtml+xml;

[Desktop Action NewWindow]
_Name=New Window
Exec=io.github.alcinnz.odysseus --new-window

[Desktop Action NewTab]
_Name=New Tab
Exec=io.github.alcinnz.odysseus --new-tab
