[Desktop Entry]
Type=Application
Name=Odysseus
Comment=Surf knowledge, entertainment, and services on The Web
Exec=io.github.alcinnz.Odysseus %U
Icon=odysseus-web
Terminal=false
Categories=Network;WebBrowser;GTK;GNOME;
# TRANSLATORS This is a semicolon list of keywords for this application
Keywords=WWW;Web;Internet;Browser;
StartupNotify=true
Actions=NewWindow;NewTab;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;application/xhtml+xml;
X-GNOME-UsesNotifications=true

[Desktop Action NewWindow]
Name=New Window
Exec=io.github.alcinnz.Odysseus odysseus:NewWindow

[Desktop Action NewTab]
Name=New Tab
Exec=io.github.alcinnz.Odysseus odysseus:home
