/* Unfortunately the web mandates bad typographic defaults,
    so this file fixes that for our internal pages. 
It is named for the [typography guide](http://practicaltypography.com/)
    elementary refers to, and it's author.
    However it does not adhear to his guidance on avoiding defaults,
    because Odysseus uses those to blend in to elementary OS.
The style rules here should follow Butterick's guidelines
    and where applicable be based off
    https://github.com/elementary/stylesheet/tree/master/gtk-3.0/.  */

body {
    font: 14px sans-serif; /* Native sans-serif */
    color: #333;
}

body > nav {
    border-bottom: thin solid gray;
    magin: 10px 0; padding: 10px 0;
    text-align: left;
}

main {
    max-width: 600px; /* almost 3 uppercase alphabets worth */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
}

main h1, main h2, main h3, main h4 {
    text-align: center;
}

input[type=search]::-webkit-search-decoration {
    width: 16px; height: 16px;
    margin: 0 2px;
    align-self: center;

    background-image: url(gtk-icon:16/system-search-symbolic);
    -webkit-appearance: none;
}

main nav {text-align: center; width: 700px; /* Fits 5 128px thumbnails. */}
main nav img {box-shadow: 2px 2px 2px gray; margin: 5px;}
main nav img:hover {box-shadow: 4px 4px 4px black;}

footer {text-align: center; width: 100%;}

figure {
    position: relative;
    display: inline-block;
    margin: 4px; padding: 0;
}
figure form {
    position: absolute;
    bottom: 0;
    /* elementary's buttons have no background themselves,
        but adding one throws out all their native styles.
        So add a background here. */
    background: white;
    visibility: hidden; /* Show on hover. */
}
figure form:nth-of-type(1) {left: 0;}
figure form:nth-of-type(2) {right: 0;}
figure:hover form {visibility: visible;}

input[type=number] {width: 20px;}

/* These heading sizes are taken from the elementary Gtk theme
    https://github.com/elementary/stylesheet/blob/master/gtk-3.0/granite-widgets.css#L378 .
    They have been converted into percentages so that I could
        increase the base font size.  */
h1 {
    font-size: 240%;
}

h2 {
    font-weight: 300;
    font-size: 180%;
}

h3 {
    font-size: 110%;
}

h4 {
    color: alpha(#333, 0.7);
    font-weight: bold;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    padding-bottom: 6px;
    padding-top: 6px;
}

span[title] {
    border-bottom: thin dotted gray;
    cursor: help;
}

/* Style fix, for hr to be visible (at least on odysseus:home) */
hr {width: 100%;}
