/* Unfortunately the web mandates bad typographic defaults,
    so this file fixes that for our internal pages. 
It is named for the [typography guide](http://practicaltypography.com/)
    elementary refers to, and it's author.
    However it does not adhear to his guidance on avoiding defaults,
    because Odysseus uses those to blend in to elementary OS.
The style rules here should follow Butterick's guidelines
    and where applicable be based off
    https://github.com/elementary/stylesheet/tree/master/gtk-3.0/.  */

body {
    font: 14px sans-serif; /* Native sans-serif */
    color: #333;
}

main {
    max-width: 600px; /* almost 3 uppercase alphabets worth */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh
}

main h1, main h2, main h3, main h4 {
    text-align: center;
}

/* These heading sizes are taken from the elementary Gtk theme
    https://github.com/elementary/stylesheet/blob/master/gtk-3.0/granite-widgets.css#L378 .
    They have been converted into percentages so that I could
        increase the base font size.  */
h1 {
    font-size: 240%;
}

h2 {
    font-weight: 300;
    font-size: 180%;
}

h3 {
    font-size: 110%;
}

h4 {
    color: alpha(#333, 0.7);
    font-weight: bold;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    padding-bottom: 6px;
    padding-top: 6px;
}

span[title] {
    border-bottom: thin dotted gray;
    cursor: help;
}

/** Technique taken from https://codepen.io/cbracco/pen/zekgx?editors=0100 */
html {height: 100%; box-sizing: border-box;}
body {position: relative; box-sizing: border-box; padding-bottom: 2rem; min-height: 97%;}

footer {
    text-align: center;
    position: absolute;
    height: 2rem;
    right: 0; left: 0; bottom: 0;
}
